<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="input-group mb-3">
                <input id="busqueda" type="text" class="form-control" placeholder="ingrese nombre o DNI" aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button id="buscar" class="btn btn-outline-secondary" type="button">Buscar</button>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">DNI</th>
                        <th scope="col">Acción</th>
                    </tr>
                </thead>
                <tbody id="filas">
                    <tr>
                        <td>nombre</td>
                        <td>dni</td>
                                                <td>dni</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>