<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- estilo de bootstrap -->
    <link rel='stylesheet' href='css/bootstrap.min.css' />

       <!-- estilo de bootstrap -->
    <link rel='stylesheet' href='css/bootstrap-datepicker3.min.css' />

        <link rel='stylesheet' href='https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css' />



        <!-- jQuery -->
    <script src="jquery.min.js"></script>

  </head>
  <body>
    <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" href="\">Búsqueda</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="\registros">Registros</a>
    </li>
  </ul>
  <br>
  <br>
    {{{body}}}
  </body>
    <!-- bootstrap js -->
  <script src="js/bootstrap.min.js"></script>

    <!-- bootstrap-datepicker js -->
  <script src="js/bootstrap-datepicker.min.js"></script>
    <script src="locales/bootstrap-datepicker.es.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
    

    <!-- index js -->
  <script src="javascripts/index.js"></script>

</html>
