<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- estilo de bootstrap -->
    <link rel='stylesheet' href='css/bootstrap.min.css' />

       <!-- estilo de bootstrap -->
    <link rel='stylesheet' href='css/bootstrap-datepicker3.min.css' />

        <link rel='stylesheet' href='https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css' />
        <link rel='stylesheet' href='https://cdn.datatables.net/select/1.2.7/css/select.dataTables.min.css' />




        <!-- jQuery -->
    <script src="jquery.min.js"></script>

  </head>
  <body>
    <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" href="/" >Búsqueda</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="\registros">Registros</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="\exportar">Exportar</a>
    </li>
  </ul>
  <br>
  <br>
    {{{body}}}


  <div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
        </div>
        <div class="modal-footer">
          <!--<button type="button" class="btn btn-primary">Save changes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
        </div>
      </div>
    </div>
  </div>


  </body>
    <!-- bootstrap js -->
  <script src="js/bootstrap.min.js"></script>

    <!-- bootstrap-datepicker js -->
  <script src="js/bootstrap-datepicker.min.js"></script>
    <script src="locales/bootstrap-datepicker.es.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
        <script src="https://cdn.datatables.net/select/1.2.7/js/dataTables.select.min.js"></script>

    <!-- index js -->
  <script src="javascripts/index.js"></script>

</html>
