<script type="text/javascript" src="/javascripts/registros.js"></script>

<div class="container-fluid">

	<table class="datatable" style="width:100%">
        <thead>
            <tr>
                <th>id</th>
                <th>registro</th>
                <th>encuestador</th>
                <th>planilla</th>
                <th>timestamp</th>
                <th>estado</th>
                <th>Sexo</th>
                <th>Ejemplar</th>
                <th>Vencimiento</th>
                <th>Emision</th>
                <th>Apellido</th>
                <th>Nombre</th>
                <th>Nacimiento</th>
                <th>Fallecimiento</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
        </tbody>

    </table>
</div>

